@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark_Violet: hsl(257, 27%, 26%);

  --Red: hsl(0, 87%, 67%);

  --Gray: hsl(0, 0%, 75%);
  --Grayish_Violet: hsl(257, 7%, 63%);
  --Very_Dark_Blue: hsl(255, 11%, 22%);
  --Very_Dark_Violet: hsl(260, 8%, 14%);
  --Font_size: 18px;
  --Family: "Poppins", sans-serif;
}
@media screen and (max-width: 375px) {
  body {
    font-family: var(--Family);
    font-size: var(--Font_size);
  }
  .portada {
    max-width: 375px;
    margin: auto;
    position: relative;
    background-color: white;
  }
  .container {
    padding: 10px;
  }
  .header--contenedor {
    display: flex;
    justify-content: space-between;
  }
  .burguer-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .line {
    width: 100%;
    height: 4px;
    background-color: var(--Gray);
  }
  .menu {
    width: 360px;
    background-color: var(--Dark_Violet);
    height: 360px;
    padding: 10px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.3s;
    position: fixed;
    right: -100%;
    z-index: 2;
  }
  .menu.active {
    right: 7px;
  }
  .menu li a {
    display: block;
    padding: 7px 0px;
    color: white;
    font-size: var(--Font_size);
    font-weight: 500;
  }
  .menu li {
    list-style: none;
  }
  .menu a {
    text-decoration: none;
  }
  .button.secondary {
    border-top: 1px rgba(156, 154, 154, 0.418) solid;
  }
  .item {
    width: 17em;
    text-align: center;
    height: 40px;
    justify-content: center;
  }
  .item:hover {
    background-color: var(--Cyan);
    width: 17em;
    text-align: center;
    border-radius: 2em;
    height: 40px;
    justify-content: center;
  }

  .illustration--contenedor {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
  }
  .describe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .describe h1 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }
  .describe p {
    text-align: center;
    font-size: var(--Font_size);
    color: var(--Gray);
    width: 330px;
  }
  .get-started {
    width: 180px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
  }
  .btn {
    font-weight: 500;
    color: white;
    text-align: center;
    background-color: var(--Cyan);
    font-size: var(--Font_size);
    border: none;
  }
  .formulario {
    position: relative;
    margin-top: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formulario--contenedor {
    width: 330px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-size: 250px;
    background-color: var(--Dark_Violet);
    background-position-x: right;
    height: auto;
  }
  .shorten {
    width: 80%;
    padding: 10px;
    margin: 25px 15px 15px 15px;
    border-radius: 8px;
    height: 30px;
  }
  .shorten::placeholder {
    color: var(--Gray);
    font-weight: 500;
    font-size: var(--Font_size);
    font-family: var(--Family);
  }
  .alerta {
    display: none;
  }
  .shorten-it {
    width: 80%;
    padding: 10px;
    margin: 0px 15px 25px 15px;
    border-radius: 8px;
    height: 30px;
  }
  .link-contenedor {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
    background-color: green;
    display: none;
  }
  .propaganda {
    width: 350;
    background-color: var(--Gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -85px;
  }
  .propaganda--tabla {
    margin-top: 140px;
    text-align: center;
    font-size: var(--Font_size);
    margin-bottom: 50px;
  }
  .propaganda--tabla h2 {
    font-weight: 700;
    padding: 10px;
    font-size: 30px;
  }
  .descripcion {
    font-size: var(--Font_size);
    color: var(--Grayish_Violet);
  }
  .caja {
    border-radius: 5px;
    margin-top: 50px;
    background-color: white;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .caja p{
    text-align: center;
  }
  .description{
    width: 311px;
    margin-top: 15px;
    margin-bottom: 45px;
  }
  .description p{
    font-size: var(--Font_size);
    color: var(--Gray);
  }
  .contenedor-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--Very_Dark_Blue);
    margin-top: -13%;
    margin-bottom: 10%;
  }
  .icon {
    width: 40px;
  }
  .separador {
    width: 130px;
    background-color: var(--Cyan);
    height: 10px;
    transform: rotateZ(90deg);
  }
  .segunda-parte{
    background-image: url(/images/bg-boost-mobile.svg);
    height: 300px;
    color: white;
    width: 100%;
    margin: 0px;
    background-color: var(--Dark_Violet);
  }
  .footer{
    background-color: black;
    color: white;
  }
  .footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-logotipo{

  }
  .footer-icono{
    fill: green;
  }
}
