* {
  margin: 0;
  padding: 0;
}
:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark_Violet: hsl(257, 27%, 26%);

  --Red: hsl(0, 87%, 67%);

  --Gray: hsl(0, 0%, 75%);
  --Grayish_Violet: hsl(257, 7%, 63%);
  --Very_Dark_Blue: hsl(255, 11%, 22%);
  --Very_Dark_Violet: hsl(260, 8%, 14%);

  --Font_size: 18px;

  --Family: [Poppins](https://fonts.google.com/specimen/Poppins);
}
@media screen and (max-width: 375px) {
  .portada {
    max-width: 375px;
    margin: auto;
    position: relative;
    background-color: var(--gray);
  }
  .header {
    display: flex;
    padding: 10px;
  }
  .burguer-button {
    width: 40px;
    /* border-radius: 50%; */
    line-height: 40px;
    height: 40px;
    background-color: red;
    display: inline-block;
    text-align: center;
    position: fixed;
    left: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 3;
    color: red;
    /* display: none; */
  }

  .line
  .menu{
    background-color: rgba(255, 60, 88, .8);
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: flex;
    width: 100%;
    align-items: center;
    transition: .3s;
  }
  .menu.active{
    left: 0;
  }
}
